<!DOCTYPE html>
<html>

<head>
    <title>TMChat — even I don't know what it stands for!</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/chat.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="messagesDiv" class="messagesDiv"><p id="md-delete">Loading&hellip;</p></div>
    <div id="inputs">
    <p style="display: inline-block;">[</p><p class="nameInput" id="nameInput" contenteditable="true">User</p><p style="display: inline-block;">]</p>
    <input id="msgInput" class="msgInput" placeholder="message...">
    </div>
</body>
<script>
    var SUPABASE_ANON_KEY = "{{ supabase_anon_key }}";
    var SUPABASE_URL = "{{ supabase_url }}"
</script>
<script type="module" src="/static/js/chat.js"></script>
<script src="/static/js/theme.js"></script>

</html>